%body
  %link{rel: 'stylesheet', href: '/css/bootstrap.min.css'}
  %link{rel: 'stylesheet', href: '/stylesheets/relationships.css'}
  %script{type: 'text/javascript', src:'/javascripts/jquery-2.1.1.min.js'}
  %script{type: 'text/javascript', src:'/javascripts/jquery.tablesorter.min.js'}
  %script{type: 'text/javascript', src:'/js/bootstrap.min.js'}

.container
  %h1.page-header
    = title
  %table.table.table-bordered.table-striped{id: 'relationships'}
    %thead
      %th.consumer
        = "#{consumer_name} version"
        %span.glyphicon.glyphicon-sort.sort
      %th.provider
        = "#{provider_name} version"
        %span.glyphicon.glyphicon-sort.sort
      %th.verification-result
        Verification
    %tbody
    - lines.each do | line |
      %tr
        %td.consumer-version
          = line.consumer_version_number
        %td.provider
          = line.provider_version_number
        %td.verification-result{class: line.verification_status_class}
          = line.verification_status

