%body
  %link{rel: 'stylesheet', href: '/css/bootstrap.min.css'}
  %link{rel: 'stylesheet', href: '/stylesheets/index.css'}
  %link{rel: 'stylesheet', href: '/stylesheets/matrix.css'}
  %script{type: 'text/javascript', src:'/javascripts/jquery-2.1.1.min.js'}
  %script{type: 'text/javascript', src:'/javascripts/jquery.tablesorter.min.js'}
  %script{type: 'text/javascript', src:'/javascripts/matrix.js'}
  %script{type: 'text/javascript', src:'/js/bootstrap.min.js'}

-# This code is an embarassment. Sorry. Just trying to get as much stuff done in the little time I have.

.container
  .navbar-right
    %a{href: '/'}
      Home
  %h1.page-header
    = title

  - if defined?(errors) && errors.any?
    - errors.each do | error |
      %div.alert.alert-danger
        = error

  %form{action: '/matrix', onsubmit:'return onSubmit()'}
    - selectors.each_with_index do | selector, index |
      .selector
        %label{for: "pacticipant#{index}"}
          Pacticipant name
        %input{name: 'q[]pacticipant', id: "pacticipant1#{index}", value: selector.pacticipant_name}

        .input-group
          %input{type: 'radio', name: "ignorethis#{index}", class: 'specify-all-versions version-selectorizor', value: 'all_versions', id: "pacticipant#{index}_all_versions", checked: selector.specify_all_versions_checked}
          %label{for: "pacticipant#{index}_all_versions"}
            All versions

        .input-group
          %input{type: 'radio', name: "ignorethis#{index}", class: 'specify-version version-selectorizor', value: 'version', id: "pacticipant#{index}_by_version", checked: selector.specify_version_checked}
          %label{for: "pacticipant#{index}_by_version"}
            Version
          %input{name: 'q[]version', type: 'text', id: "pacticipant#{index}_version", class: 'by-version', value: selector.pacticipant_version_number}

        .input-group
          %input{type: 'radio', name: "ignorethis#{index}", class: 'specify-latest version-selectorizor', value: 'tag', id: "pacticipant#{index}_latest", checked: selector.specify_latest_checked}
          %label{for: "pacticipant#{index}_latest"}
            Latest version
          %input{name: 'q[]latest', value: 'true', hidden: true, class: 'latest-flag'}

        .input-group
          %input{type: 'radio', name: "ignorethis#{index}", class: 'specify-latest-tag version-selectorizor', value: 'tag', id: "pacticipant#{index}_by_tag", checked: selector.specify_latest_tag_checked}
          %label{for: "pacticipant#{index}_by_tag"}
            Latest version with tag
          %input{name: 'q[]tag', type: 'text', id: "pacticipant#{index}_tag", class: "by-latest-tag", value: selector.tag}
          %input{name: 'q[]latest', value: 'true', hidden: true, class: 'latest-flag'}

    %div.top-of-group
      .input-group
        %input{type: 'radio', name: "latestby", class: '', value: 'cvpv', id: 'cvpv', checked: options.cvpv_checked}
        %label{for: 'cvpv'}
          Show latest result for each consumer version/provider version
    %div
      .input-group
        %input{type: 'radio', name: "latestby", class: '', value: 'cvp', id: 'cvp', checked: options.cvp_checked}
        %label{for: 'cvp'}
          Show latest result for each consumer version/provider
    %div
      .input-group
        %input{type: 'radio', name: "latestby", class: '', value: '', id: 'all_rows', checked: options.all_rows_checked}
        %label{for: 'all_rows'}
          Show all results
    %div.top-of-group
      %label{for: "limit"}
        Limit
      %input{name: 'limit', id: "limit", value: options.limit}
    %div.top-of-group
      %input{type: 'submit'}


  %p{style: 'text-align:right'}
    = "#{lines.size} rows"
  %table.table.table-bordered.table-striped{id: 'matrix'}
    %thead
      %th.consumer
        = "Consumer"
        %span.glyphicon.glyphicon-sort.sort
      %th.consumer-version
        = "Consumer Version"
        %span.glyphicon.glyphicon-sort.sort
      %th.pact-published
        = "Pact Published"
        %span.glyphicon.glyphicon-sort.sort
      %th.provider
        = "Provider"
        %span.glyphicon.glyphicon-sort.sort
      %th.provider-version
        = "Provider Version"
        %span.glyphicon.glyphicon-sort.sort
      %th.verification-result
        Pact verified
        %span.glyphicon.glyphicon-sort.sort
    %tbody
    - lines.each do | line |
      %tr
        %td.consumer{'data-sort-value' => line.consumer_name}
          %a{href: line.consumer_name_url}
            = line.consumer_name
        %td.consumer-version{'data-sort-value' => line.consumer_version_order}
          %div
            %a{href: line.consumer_version_number_url}
              = line.display_consumer_version_number
          - line.latest_consumer_version_tags.each do | tag |
            .tag-parent{"title": tag.tooltip, "data-toggle": "tooltip", "data-placement": "right"}
              %a{href: tag.url}
                .tag.label.label-primary
                  = tag.name
          - line.other_consumer_version_tags.each do | tag |
            .tag-parent{"title": tag.tooltip, "data-toggle": "tooltip", "data-placement": "right"}
              %a{href: tag.url}
                .tag.label.label-default
                  = tag.name
        %td.pact-published{'data-sort-value' => line.pact_published_order}
          %a{href: line.pact_publication_date_url}
            - if options.all_rows_checked
              = "#{line.pact_publication_date} (revision #{line.pact_revision_number})"
            - else
              = line.pact_publication_date

        %td.provider{'data-sort-value' => line.provider_name}
          %a{href: line.provider_name_url}
            = line.provider_name
        %td.provider-version{'data-sort-value' => line.provider_version_order}
          %div
            %a{href: line.provider_version_number_url}
              = line.display_provider_version_number
          - line.latest_provider_version_tags.each do | tag |
            .tag-parent{"title": tag.tooltip, "data-toggle": "tooltip", "data-placement": "right"}
              %a{href: tag.url}
                .tag.label.label-primary
                  = tag.name
          - line.other_provider_version_tags.each do | tag |
            .tag-parent{"title": tag.tooltip, "data-toggle": "tooltip", "data-placement": "right"}
              %a{href: tag.url}
                .tag.label.label-default
                  = tag.name
        %td.verification-result{class: line.verification_status_class}
          %a{href: line.verification_status_url}
            - if options.all_rows_checked
              = "#{line.verification_status} (number #{line.number})"
            - else
              = line.verification_status
