%link{rel: 'stylesheet', href: "#{base_url}/stylesheets/index.css"}
%link{rel: 'stylesheet', href: "#{base_url}/stylesheets/material-menu.css"}
%link{rel: 'stylesheet', href: "#{base_url}/stylesheets/material-icon.css"}
%link{rel: 'stylesheet', href: "#{base_url}/stylesheets/jquery-confirm.min.css"}
%script{type: 'text/javascript', src:"#{base_url}/javascripts/jquery.tablesorter.min.js"}
%script{type: 'text/javascript', src:"#{base_url}/javascripts/material-menu.js"}
%script{type: 'text/javascript', src:"#{base_url}/javascripts/index.js"}
%script{type: 'text/javascript', src:"#{base_url}/javascripts/clipboard.js"}
%script{type: 'text/javascript', src:"#{base_url}/javascripts/jquery-confirm.min.js"}
