<a name="<%= interaction.id %>"></a><% formatted_provider_states = h(interaction.formatted_provider_states mark_bold: true) %>
<%= if !formatted_provider_states.empty?
  "Given #{formatted_provider_states}, upon receiving"
   else
  "Upon receiving"
   end
%> **<%= h(interaction.description) %>** from <%= h(interaction.consumer_name) %>, with
```json
<%= interaction.request  %>
```
<%= h(interaction.provider_name) %> will respond with:
```json
<%= interaction.response %>
```
