<!DOCTYPE html>
%html
  %head
    %title= defined?(title) ? title : ""
    %link{rel: 'shortcut icon', href: "#{base_url}/images/favicon.ico", type:'image/x-icon'}
    %link{rel: 'stylesheet', href: "#{base_url}/css/bootstrap.min.css"}
    %script{type: 'text/javascript', src:"#{base_url}/javascripts/jquery-3.5.1.min.js"}
    %script{type: 'text/javascript', src:"#{base_url}/js/bootstrap.min.js"}
  != yield
